@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Polaris-Text--bodyMd {
  font-size: 16px !important;
  font-weight: 600 !important;
}
.Polaris-Button {
  padding: 10px !important;
  height: fit-content !important;
  width: fit-content !important;
}
.Polaris-Text--root,
.Polaris-Text--bodyMd {
  font-size: 14px !important;
}
